In [30]:
import pandas as pd
import datetime

In [37]:
data = {'d22b': 1, 'id': 18, 'd21f': 1, 'submission_date': "datetime(2017, 11, 5, 4, 27, 30, 409102, tzinfo='UTC')", 
        'd20d': 1, 'd21c': 1, 'd20b': 1, 'user_id_id': 1, 'd21e': 1, 'd22a': 1, 'd21b': 1, 'd20a': 1, 'd21a': 1, 
        'd21d': 1, 'd22c': 1, 'd20c': 1, 'd22b': 1}

In [38]:
patient_results = pd.DataFrame([data])
patient_results

,d20a,d20b,d20c,d20d,d21a,d21b,d21c,d21d,d21e,d21f,d22a,d22b,d22c,id,submission_date,user_id_id
0,1,1,1,1,1,1,1,1,1,1,1,1,1,18,"datetime(2017, 11, 5, 4, 27, 30, 409102, tzinf...",1

In [43]:
today = patient_results['submission_date'].max()
if len(data) == 1:
    patient_subset = patient_results[(patient_results['submission_date'] != today)]
    last_submission = patient_subset['submission_date'].max()
else:
    last_submission = today
    
patient_results['d20'] = (patient_results.d20a + patient_results.d20b + 
                                   (10.0 - patient_results.d20c) + patient_results.d20d)/4.0

patient_results['d21'] = (patient_results.d21a + (10.0 - patient_results.d21b) + 
                                       (10.0 - patient_results.d21c) + (10.0 - patient_results.d21d) + 
                                       patient_results.d21e + (10.0 - patient_results.d21f))/6.0
patient_results['d22'] = ((10.0 - patient_results.d22a) + (10.0 - patient_results.d22b) +
                                (10.0 - patient_results.d22c))/3.0
patient_results['Overall_Health'] = (patient_results.d20 + patient_results.d21 + 
                                     patient_results.d22)/3.0
output = patient_results[['d20','d21','d22','Overall_Health']]

output.to_dict('list')

{'Overall_Health': [6.111111111111111],
 'd20': [3.0],
 'd21': [6.333333333333333],
 'd22': [9.0]}

In [24]:
output = patient_results[['mentalHealth','salivaSwallowing','breathing','Overall_Health']]

In [25]:
output

   mentalHealth  salivaSwallowing  breathing  Overall_Health
0           3.0          6.333333        9.5        6.277778

In [27]:
output.to_dict('list')

{'Overall_Health': [6.277777777777778],
 'breathing': [9.5],
 'mentalHealth': [3.0],
 'salivaSwallowing': [6.333333333333333]}